<!DOCTYPE html>
<html>

<head>
  <title>Elena Roldan</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel='stylesheet' href='../../../css/layoutAdmin.css' />
  <link rel='stylesheet' href='../../../css/forms.css' />
  <link rel='stylesheet' href='../../../css/tables.css' />
  <link rel="icon" type="image/png" href="icons/favicon.png" />
</head>

<body>
  <header>
    <div class="grid-container">
      <div class="grid-title">
        <h1 class="h1-header">Aurelia Elena Roldan</h1>
      </div>
      <div class="grid-session">
        <img src="../../../icons/icons-user.png" alt="user icon"></img>
        <p name="nameUserHbs">User: {{welcomeUser}}</p>
      </div>
    </div>
  </header>
  {{{body}}}
  <footer>
    <p>Reserved Rights 2023</p>
  </footer>
</body>

</html>