<nav>
  <ul class="lu_nav">
    <li class="li_nav">
      <a href="jsLogin">Go To Login </a>
    </li>
    <li class="li_nav">
      <a href="jsMessenger">Go To Messenger </a>
    </li>
    <li class="li_nav">
      <a href="jsPublications">Go To Publications </a>
    </li>
  </ul>
</nav>
<div class="image_space">
  <img class="image_space" src="images/milky-way_1280.jpg" alt="background">
</div>